<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>logovanjeServlet</servlet-name>
        <servlet-class>servleti.logovanjeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>unosZaposlenog</servlet-name>
        <servlet-class>servleti.unosZaposlenog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFormaZaposlenog</servlet-name>
        <servlet-class>servleti.DeleteFormaZaposlenog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServletZaposlenog</servlet-name>
        <servlet-class>servleti.EditServletZaposlenog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateZaposlenog</servlet-name>
        <servlet-class>servleti.updateZaposlenog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>unosTima</servlet-name>
        <servlet-class>servleti.unosTima</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dodavanjeTimaUProjekat</servlet-name>
        <servlet-class>servleti.dodavanjeTimaUProjekat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>unosTimaa</servlet-name>
        <servlet-class>servleti.unosTimaa</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logovanjeServlet</servlet-name>
        <url-pattern>/logovanjeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>unosZaposlenog</servlet-name>
        <url-pattern>/unosZaposlenog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFormaZaposlenog</servlet-name>
        <url-pattern>/DeleteFormaZaposlenog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServletZaposlenog</servlet-name>
        <url-pattern>/EditServletZaposlenog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateZaposlenog</servlet-name>
        <url-pattern>/updateZaposlenog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>unosTima</servlet-name>
        <url-pattern>/unosTima</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dodavanjeTimaUProjekat</servlet-name>
        <url-pattern>/dodavanjeTimaUProjekat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>unosTimaa</servlet-name>
        <url-pattern>/unosTimaa</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
