/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 17, 2017, 12:21:25 AM
    Author     : nikol
*/



<!-- Pozicioniranje Slike -->

.pozadina{
  background-image: url(img/logovanje.jpg);

background-repeat: no-repeat;
background-position: center;
background-size: cover;
width: 100%;
height: 100%;
    }

  #pozadinaH{
    margin-top: 8px;
    border-bottom: #40E0D0 3px solid;

  }
#showcase .showcase-content{
  background: #333;
  color: #fff;
  border-radius: 40px;
  padding: 40px;
  opacity: 0.7;
  margin-top: 70px;

}

#showcase .btnLogIn{
    padding: 5px;
    width: auto;
    height: auto;
    background-color:	#40E0D0;
    color: #fff;
    border-radius: 6px;
    border: 0;
    font-size: 18px;
}

#showcase h3{


  text-align: center;
  color: white;
  padding-bottom: 40px;
  font-size: 40px;

}

#showcase label{
 color: 	#40E0D0;
 font-size: 18px;

}

.input-filed{
  text-align: left;
}

.login-footer{
  position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50px;
        background-color: #35424a;
        color: #fff;
        text-align: center;
}
.homePage-footer{
  position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50px;
        background-color: #35424a;
        color: #fff;
        text-align: center;
}


body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin:0;
  background-color: #white;
  background-size: cover;
}

/* Globalni */
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* Header */
header{
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #40E0D0 7px solid;
}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
}

header ul{
  margin: 0;
  padding: 0;
}

header li{
  float: left;
  display: inline;
  padding: 0 10px 0 10px;
}

header #logo{
  float:left;
    margin-bottom:  15px;
}

header #logo h1{
  margin: 0;
  color:  #40E0D0;
}

header nav{
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a {
  color: #40E0D0;
  font-weight: bold;
}

header a:hover{
  color: #cccccc;
  font-weight: bold;
}
header img{
  width: 150px;
  height: 110px;
}
/* Boxes */

#boxes .box{
  float: left;
  text-align: center;
  width: 30%;
  padding: 18px;
  margin-top: 1px;
    background-color: white;

}

#boxes .box img{
  width: 90px;
}

/* Employee page */

.unosZaposlenog{
  position: absolute;
  top: 70%;
  left: 25%;
  transform: translate(-75%,-55%);
  width: 380px;
  height: 600px;
  padding: 55px 80px;
  box-sizing: border-box;
  background: #35424a;
  opacity: 0.9;
  border-radius: 6%;
  text-align: center;

}

.zaposleni{
  width: 100px;
  height: 100px;
  border-radius: 70%;
  overflow: hidden;
  top: calc(-100px/2);
  left: calc(50%-50px);
  text-align: center;

}
.unosZaposlenog h1 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: white;
}
.unosZaposlenog input{
  width: 100%;
  margin-bottom: 20px;
}

.unosZaposlenog input[type="text"]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
.unosZaposlenog input[type="Submit"]:hover{
  background: #efed40;
  color: #262626;

}


#tabelaPrikazZaposlenihth{
    border-collapse: collapse;
    margin-top: 50px;
    width:70%;
   margin-left:30%;
   margin-right:15%;
}

#tabelaPrikazZaposlenihth th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

#tabelaPrikazZaposlenihth th {
    background-color: #40E0D0;
    color: white;
}
.btnUnesiZaposlenog{
    padding: 5px;
    width: 200px;
    height: 40px;
    background-color: #40E0D0;
    color: #fff;
    border-radius: 3px;
    border: 0;
    font-size: 18px;
    margin-left: 5px;

}
<!-- css log in form -->
<!-- Pozicioniranje Slike -->
